.question-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.question-text {
  font-size: 1.4rem;
  min-height: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.slider-container {
  display: flex;
  width: 44rem;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 42rem;
}

.slider-input {
  flex: 1;
  accent-color: #c75b7a;
}

.slider-value {
  width: 36px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}